/* IBM Plex Sans / IBM Plex Mono — self-hosted (spec §10.8.3).
   Vendored woff2 (latin) from the official IBM Plex release; OFL license
   committed alongside in public/fonts/OFL-LICENSE.txt. No Google Fonts CDN —
   the UI must work fully offline on localhost. font-display: swap with the
   tokens.css stacks as fallback. The /fonts/ urls are public/-root assets,
   served from the server root alongside the SPA. */

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/IBMPlexSans-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/IBMPlexMono-SemiBold.woff2') format('woff2');
}
